<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8" />
    <title>Movie Form</title>
    <link rel="stylesheet" href="/static/css/form.css" />
</head>
<body>
<h1>Add the movie you like</h1>
<form method="post" th:action="@{/savemovie}">
    <label>Title: </label>
    <input type="text" name="title"/>
    <span th:text="${titleError}? ${titleError} : ''"
          class="validationError" /><br/>

    <label>Director </label>
    <input type="text"  name="director"/><br/>

    <label>Year </label>
    <input type="text"  name="year"/><br/>

    <label>Personal Rating </label>
    <input type="text"  name="personalRating" /><br/>

    <input type="submit" value="Add" class="button" />

</form>
</body>
</html>