<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8" />
    <title>FavouriteMovies</title>
    <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
<h1>Register</h1>

<p th:if="${userExistsError}" th:text="${userExistsError}"
        class="validationError"></p>
<div class="form">
<form method="post" th:action="@{/registration}">
    <label><strong> Username: </strong> </label>
    <input type="text" name="username" />
    <span th:text="${usernameError}? ${usernameError} : ''"
          class="validationError"></span><br/>

    <label><strong>Password: </strong></label>
    <input type="password"  name="password" />
    <span th:text="${passwordError}? ${passwordError} : ''"
          class="validationError" /> <br/>

    <label><strong>First name: </strong></label>
    <input type="text"  name="firstName" />
    <span th:text="${firstNameError}? ${firstNameError} : ''"
          class="validationError" /><br/>

    <label><strong>Last name: </strong></label>
    <input type="text"  name="lastName" />
    <span th:text="${lastNameError}? ${lastNameError} : ''"
          class="validationError" /><br/>

    <label><strong>Email: </strong></label>
    <input type="email" name="email" /><br/>

    <input type="submit" value="Register" class="button"/>
</form>
</div>
</body>
</html>